<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>All posts - MyRealms</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand">MY REALMS</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about.html">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="post.html">Blog Post</a></li>
                    {% if not user.is_authenticated  %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">signup</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                    {% endif %}
                </ul>
        </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">MY REALMS</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about.html">About us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="contact.html">Contact us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="post.html">Blog Post</a></li>
                    {% if not user.is_authenticated  %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">signup</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                    {% endif %}
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('static/images/home-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>My Realms</h1><span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            {% for post in posts %}
                {% if forloop.counter0|divisibleby:2 == 1 %}
                <div class="col-md-10 col-lg-8">
                    <div class="post-preview">
                        <a href="{% url 'view_post' post.id %}">
                            <h2 class="post-title">{{post.title}}</h2>
                        </a>
                        <p class="post-meta">Posted by&nbsp;{{post.name}} on {{post.timestamp}}</p>
                    </div>
                </div>
                {% else %}
                <div class="col-md-10 col-lg-8" style="background-color: rgb(221,219,209);" >
                    <div class="post-preview">
                        <a href="{% url 'view_post' post.id %}">
                            <h2 class="post-title">{{post.title}}</h2>
                        </a>
                        <p class="post-meta">Posted by&nbsp;{{post.name}} on {{post.timestamp}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <hr>
    {% if posts.has_other_pages %}
    <div class="container-fluid">
        <nav aria-label="Page navigation conatiner"></nav>
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                    <li><a style="font-family: 'Open Sans', sans-serif;" href="?page={{ posts.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if posts.has_next %}
                <li><a style="font-family: 'Open Sans', sans-serif;" href="?page={{ posts.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/clean-blog.js"></script>
</body>

</html>